# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/dist
/tmp
/out-tsc
/.angular/cache
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
pnpm-lock.yaml
package-lock.json

yarn-error.log
